---
- name: Remove postifx - Ubuntu
  apt:
    name: postfix
    force: yes
    state: absent
  when: ansible_facts["os_family"] == "Debian"
  notify: Stop postifx

- name: Install sendmail
  apt:
    name: "{{ sendmail_packages }}"
    force: yes
    state: present
  when: ansible_facts["os_family"] == "Debian"
  notify: Restart sendmail

- name: Configure mailrelay
  lineinfile:
    dest: "/etc/mail/sendmail.mc"
    state: present
    line: "define(`SMART_HOST', `{{ mail_sendmail_relay_server }}')dnl"
    insertafter: EOF
    backup: yes
  notify: Compile sendmail config
